
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ..................................................... */
/* .............. Default CSS END ...................... */
/* ..................................................... */

/* Import Tailwind */
@import "tailwindcss";

/* Custom Font */

/* @font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/San Francisco Pro Display/SF-Pro-Display-Bold.otf") format("");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
} */


@layer base {
  :root {
    --primary-font: "SF-Pro-Display";
    --secondary-font: "Inter";
    --primary-color: #624D9F;
    --secondary-color: #FFFFFF;
    --accent1: #F3F8FD;
    --accent2: #DB9FDA;
    --accent3: #CCE0F1;
    --black: #000000;
    --border: #E2EDF7;
    --border2: #F5F6F6;
    --text: #202124;
    --text2: #575B63;
  }

  body {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }
  
  p {
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--text2);
  }

  label {
    color: var(--text) !important;
    transition: 0.4s;
    font-family: var(--primary-font);
  }

  a, button {
    font-family: var(--primary-font);
  }

  h1, h2, h3, h4 {
    font-family: var(--primary-font);
  }

  input {
    font-family: var(--secondary-font);
  }
}

/* Font */
@layer utilities {
  .font-primary {
    font-family: "SF-Pro-Display" !important;
  }

  .font-secondary {
    font-family: "Inter" !important;
  }
}

/* Container Setup */
@layer components {
  .custom-container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-[1536px] xl:max-w-[1280px] lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px];
  }
}

/* ..................................................... */
/* .............. Default CSS END ...................... */
/* ..................................................... */

/* .........Preloader Animation for loading spinner.......... */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-custom-spin {
  animation: spin 1s linear infinite;
}

/* .........Preloader Animation for loading spinner........... */
